// index.jade
extends base
- var title = "Welcome"

block content
    section
    .bs-docs-header#content
        .container
            h1 biOMICs+
            p (biologically integrate OMICs): A R/Bioconductor package for integrating publicly available genomic data sets
