// view.jade
extends base
- var title = "terms"

block content
    section
        .container
            .row
            .col-md-4
                ul.nav
                    a.list-group-item(href="/terms/") a1
                            span.badge.pull-right 14
                    a.list-group-item(href="/terms/") a2
                            span.badge.pull-right 14
                    a.list-group-item(href="/terms/") a3
                            span.badge.pull-right 14

    //- span.label.label-info Info

  //-                       <ul class="nav nav-pills nav-stacked">
  //- <li class="active">
  //-   <a href="#">
  //-     <span class="badge pull-right">42</span>
  //-     Home
  //-   </a>
  //- </li>