// view.jade
extends base
- var title = "terms"

block content
    section
        .container
            .row
            .col-md-4
                ul.nav
                    a.list-group-item(href="#") {{ path }}
                        span.badge.pull-right 14

    input#keywords(type='text', placeholder='Enter Term')

    input#input(type='text', placeholder='Enter Term')

  //-                       <ul class="nav nav-pills nav-stacked">
  //- <li class="active">
  //-   <a href="#">
  //-     <span class="badge pull-right">42</span>
  //-     Home
  //-   </a>
  //- </li>